<!DOCTYPE html>
<html>

    <head>
        <title>
            Sentiment Analysis Demo
        </title>
    </head>

   <body bgcolor="#dddddd">
      <h2><p align="center">This Page is Just to Demonstarte Sentiment Analysis</p></h2>
      <hr />
      <h3><p>Enter text to get the sentiment score.</p></h3>
      <br />
      
      <form action = "/predictText" method="POST">
          <p>Enter Text Below:</p>
          
          <p><textarea rows="10" cols="50" name="Description" >
         
         </textarea></p>
         <p><input type = "submit" value = "score" /></p>
      </form>
   </body>
	
</html>