<!DOCTYPE html>
<html>

    <head>
        <title>
            Sentiment Analysis Demo
        </title>
    </head>

   <body bgcolor="#dddddd">
      <h2><p align="center">This Page is Just to Demonstarte Sentiment Analysis</p></h2>
      <hr />
      <h3><p>Upload an audio file  to get the sentiment score:</p></h3>
      <br />
      
      <form action = "http://localhost:5000/predictAudio" method="POST" enctype = "multipart/form-data">
         <p>Upload an audio File:</p>
         <p><input type=file name=file accept = "wav/mp3" /></p>
         <p><input type = "submit" value = "score" /></p>
      </form>
   </body>
	
</html>